<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title ali class="task-header">&nbsp;&nbsp;{{data.title}}</h1>
  <span class="fx-spacer"></span>
  <mat-dialog-content>
    <p>{{data.message}}</p>
  </mat-dialog-content>

  <div [ngSwitch]="data.option">
    <div mat-dialog-actions *ngSwitchCase="'yes/no'">
      <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
      <button mat-raised-button  color="warn" (click)="onDismiss()">No</button>
    </div>
    <div mat-dialog-actions *ngSwitchCase="'close'">
      <button mat-raised-button  color="warn" (click)="onDismiss()">Close</button>
    </div>
  </div>

</section>